<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose template-EliteResumeLab</title>
    <link rel="stylesheet" href="/static/secondpage.css" />
    <script defer src="/static/scripts/second.js"></script>
    <script
      src="https://kit.fontawesome.com/fff6881cae.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="log">
      <a href="/logout"><button class="logout">Logout</button></a>
    </div>
    <div class="nav-bar">
      <i class="fa-brands fa-slack"></i>
      <p class="main-bar">EliteResumeLab</p>
    </div>
    <h1 class="header">
        Choose the perfect resume template tailored for success.
      </h1>
      <h2 class="sub-head">You can update your template anytime.</h2>
    </div>
    <div id="container">
      <div class="img_container">
        <a href="/form/1"><img id="img-1"  class="img" src="/static/images/temp-1.webp" alt="Template-1"></a>
      </div>
      <div class="img_container">
        <a href="/form/2"><img id="img-2" class="img" src="/static/images/template-2.png" alt="Template-2"></a>
      </div>
      <div class="img_container">
        <a href="/form/3"><img id="img-3"  class="img" src="/static/images/template-3.png" alt="Template-3"></a>
      </div>
      <div class="img_container">
        <a href="/form/4"><img id="img-4" class="img" src="/static/images/template-4.jpeg" alt="Template-4"></a>
      </div> 
      </div>
    </div>
  </body>
</html>
