<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choose template-EliteResumeLab</title>
    <link rel="stylesheet" href="/static/thirdpage.css" />
    <script defer src="/static/scripts/thirdpage.js"></script>
    <script
      src="https://kit.fontawesome.com/fff6881cae.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="log">
      <a href="/logout"><button class="logout">Logout</button></a>
    </div>
    <div class="nav-bar">
      <i class="fa-brands fa-slack"></i>
      <p class="main-bar">EliteResumeLab</p>
    </div>
    <h1 class="header">
        Choose the perfect resume template tailored for success.
      </h1>
      <h2 class="sub-head">You can update your template anytime.</h2>
    </div>
    <div id="container">
      <div class="img_container">
        <a href="/form/5"><img id="img-1"  class="img" src="/static/images/template3.jpg" alt="template-1"></a>
      </div>
      <div class="img_container">
        <a href="/form/6"><img id="img-2" class="img" src="/static/images/template-5.jpg" alt="Template-2"></a>
      </div>
      <div class="img_container">
    </div>
  </body>
</html>
